<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuyou.user">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CarefreeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.AppStartActivity"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.companies.CompaniesActivity" />
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".mvp.login.LoginActivity" />
        <activity
            android:name=".mvp.login.PhoneInputActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".mvp.login.CompletingInfoActivity" />
        <activity android:name=".mvp.login.CaptchaInputActivity" />

        <activity
            android:name=".mvp.login.ResetPwdActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".mvp.order.OrderDetailActivity" />
        <activity android:name=".mvp.serve.ServeCategoryListActivity" />
        <activity android:name=".mvp.serve.FastCreateActivity" />
        <activity android:name=".mvp.serve.NewOrderActivity" />
        <activity android:name=".mvp.serve.ServeDetailActivity" />
        <activity android:name=".mvp.store.StoreDetailActivity" />
        <activity android:name=".mvp.address.AddressActivity" />
        <activity android:name=".mvp.address.AddressManagerActivity" />
        <activity android:name=".mvp.address.AddressLocationActivity" />
        <activity android:name=".view.activity.HomeMapActivity" />
        <activity android:name=".mvp.address.AddressAddActivity" />
        <activity android:name=".mvp.address.CityChooseActivity" />
        <activity android:name=".mvp.address.AddressSearchActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c23f912fdbbcb0d3c970a04e7ccb6386" />
        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>
