<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wuyou.user">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".CarefreeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!--今日头条&鸿洋屏幕适配方案-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".view.activity.AppStartActivity"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ulaidaouser" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".view.activity.SettingActivity"
             />
        <activity
            android:name=".mvp.login.LoginActivity"
            android:launchMode="singleTask"
            
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mvp.login.PhoneInputActivity"
            
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mvp.login.CompletingInfoActivity"
             />
        <activity
            android:name=".mvp.login.CaptchaInputActivity"
             />
        <activity
            android:name=".mvp.login.ResetPwdActivity"
            
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mvp.order.OrderDetailActivity"
             />
        <activity
            android:name=".mvp.serve.ServeCategoryListActivity"
             />
        <activity
            android:name=".mvp.serve.NewOrderActivity"
             />
        <activity
            android:name=".mvp.serve.ServeDetailActivity"
             />
        <activity
            android:name=".mvp.store.StoreDetailActivity"
             />
        <activity
            android:name=".mvp.address.AddressActivity"
             />
        <activity
            android:name=".mvp.address.AddressManagerActivity"
             />
        <activity
            android:name=".mvp.address.AddressLocationActivity"
             />
        <activity
            android:name=".view.activity.HomeMapActivity"
             />
        <activity
            android:name=".mvp.address.AddressAddActivity"
             />
        <activity
            android:name=".mvp.address.CityChooseActivity"
             />
        <activity
            android:name=".mvp.address.AddressSearchActivity"
             />
        <activity
            android:name=".mvp.order.OrderAddressActivity"
             />
        <activity
            android:name=".view.activity.CommentActivity"
             />
        <activity
            android:name=".view.activity.InfoActivity"
             />
        <activity
            android:name=".view.activity.HelpRobotActivity"
             />
        <activity
            android:name=".view.activity.GuideActivity"
             />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.ModifyNickActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".view.activity.ModifyGenderActivity" />
        <activity android:name=".view.activity.PayFinishActivity" />
        <activity
            android:name=".view.activity.ModifyPhoneActivity"
            
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.WebActivity"
             />
        <activity
            android:name=".mvp.order.PayChooseActivity"
             />
        <activity
            android:name=".view.activity.ServeWayChooseActivity"
             />
        <activity
            android:name=".mvp.score.ScoreMissionActivity"
             />
        <activity
            android:name=".mvp.score.ScoreRecordActivity"
             />
        <activity
            android:name=".view.activity.CaptureActivity"
             />
        <activity android:name=".mvp.score.SignInSuccessActivity" />
        <activity
            android:name=".view.activity.HelpActivity"
             />
        <activity
            android:name=".mvp.wallet.BackupPKeyActivity"
             />
        <activity
            android:name=".mvp.wallet.CreateOrImportAccountActivity"
             />
        <activity
            android:name=".mvp.wallet.CreateAccountSuccessActivity"
             />
        <activity
            android:name=".mvp.wallet.ImportAccountActivity"
             />
        <activity
            android:name=".mvp.wallet.CreateAccountActivity"
             />
        <activity android:name=".mvp.wallet.ScoreAccountActivity"
            
            android:launchMode="singleTask"/>
        <activity android:name=".mvp.wallet.ManagerAccountActivity"
            />
        <activity android:name=".mvp.wallet.AccountInfoActivity"
            />
        <activity android:name=".mvp.wallet.ActivityRecordActivity" />
        <activity android:name=".mvp.score.ScoreExchangeActivity" />
        <activity android:name=".mvp.block.BlockExplorerActivity" />
        <activity android:name=".mvp.block.BlockDetailActivity" />
        <activity android:name=".mvp.vote.VoteExplainActivity" />
        <activity android:name=".mvp.vote.VoteDetailActivity" />
        <activity android:name=".mvp.vote.VoteActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".mvp.vote.VotePledgeActivity" />
        <activity android:name=".mvp.kyc.KycAuthActivity" />
        <activity android:name=".mvp.kyc.KycAuthFinishActivity" />
        <activity android:name=".mvp.trace.TraceAuthActivity" />
        <activity android:name=".mvp.trace.TraceUploadRecordActivity" />
        <activity android:name=".mvp.volunteer.VolunteerProListActivity" />
        <activity android:name=".mvp.volunteer.TimeBankMainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".mvp.volunteer.VolunteerProDetailActivity" />
        <activity android:name=".mvp.volunteer.TBVolunteerRecordActivity" />
        <activity android:name=".mvp.volunteer.ApplySuccessActivity" />
        <activity android:name=".view.activity.ScanActivity" />

        <meta-data
            android:name="WEIXIN_APP_ID"
            android:value="wx4b8fec36e1c7dc68" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0706e469a852b4fbbc6b2658814761e1" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".service.HelpChatService" />
        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wuyou.user"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>